.header {
    a.hgroup {
        background-position: 0 0;
        border-right: none;
    }
}

#nav-open-btn, #nav-holder .close-btn, #nav-holder h2, #nav-holder i {
    display: none;
}

#nav-holder {
    ul {
        list-style: none;

        li {
            a {
                text-decoration: none;
            }
        }
    }
}


#login-holder {
    border: pem(1) solid rgba(0,0,0,0.2);
}
