.header {
    background-color: $nav-bar-bg-color;
}
.holder {
    background-color: $menu-bg-color;
}

.js { 
    .holder {
        @include vendor("box-shadow", inset pem(-24) 0 pem(24) pem(-12) rgba(0,0,0, 0.25));
    }   

}

.holder ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.holder ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.holder ul li a:hover {
    background-color: #444;
}

.holder ul li a.selected {
    color: #fff;  
}

.holder ul li a.selected i {
    width: 0;
    height: 0;
    color: #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 

    border-right:10px solid #fff;
    right: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#nav-open-btn, #login-open-btn {
    color: #ffffff;
    font-size: pem(24);
    float: right;
}
#nav-open-btn i, #login-open-btn i {
    line-height: pem(30);
    width: pem(30);
    text-align: center;
}

.close-btn {
    color: #ffffff;
    float: right;
    font-size: pem(24);
    line-height: pem(30);
    width: pem(30);
    text-align: center;
}

